html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    overflow: hidden;
}
body {
    background: url(imgs/wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: "Ubuntu Mono", monospace;
}

a {
    color: white;
}

.console {
    background: #18202d;
    display: block;
    padding: 32px 24px;
    width: 480px;
    border-radius: 3px;
    line-height: 1.5em;
    animation: show-console 1s forwards;
}

.console__user {
    color: #147a11;
}

.type-effect * {
    display: inline;
}

@keyframes show-console {
    from {
        margin: 0 auto;
    }

    to {
        margin: 100px auto;
    }
}

@media (max-width: 480px) {
    .console {
        width: auto;
    }
}

svg {
    margin-top: 30px;
    overflow: visible;
}
svg path {
    transform-origin: 2500px 2700px;
}
svg path:first-child {
    animation: svgCircle 3s infinite;
}
svg path:nth-child(3) {
    animation: svgStick 3s infinite;
}

svg:hover path:nth-child(2),
svg:focus path:nth-child(2) {
    animation: svgCircle 3s;
}
svg:hover path:first-child,
svg:focus path:first-child,
svg:hover path:nth-child(3),
svg:focus path:nth-child(3) {
    animation-play-state: paused;
}

@keyframes svgCircle {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes svgStick {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}
