@import "../variables";

footer {
  @apply fixed bottom-0 h-10 w-full flex items-center justify-center;
  background: $darkblue;

  &::before {
    content: "";
    @apply w-0 h-0 absolute top-0 left-0;
    border-bottom: 5rem solid $orange;
    border-right: 2.5rem solid transparent;
  }

  &::after {
    content: "";
    @apply w-0 h-0 absolute top-0 right-0;
    border-top: 5rem solid $lightblue;
    border-left: 2.5rem solid transparent;
  }

  button {
    @apply text-2xl text-white;

    &:focus {
      @apply outline-none;
    }
  }
}
