@import "../variables";

header {
  @apply h-20 grid grid-cols-5 sticky w-full top-0 z-50;
  background: $gray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  figure {
    @apply col-span-3 flex items-center;

    img {
      @apply max-w-full max-h-full inline-block flex-grow-0 flex-shrink-0;
      flex-basis: 5rem;
    }

    figcaption {
      @apply inline-block leading-7;

      span {
        @apply block text-2xl;
        font-family: ND_LOGOS_REGULAR;
      }
    }
  }

  nav {
    @apply col-start-5 bg-black text-white relative flex items-center justify-center;

    &::before {
      content: "";
      @apply w-0 h-0 absolute top-0;
      border-bottom: 5rem solid black;
      border-left: 2.5rem solid transparent;
      left: -2.5rem;
    }

    .burger {
      @apply w-full h-full text-2xl;

      &:focus {
        @apply outline-none;
      }

      &.active {
        color: $orange;
      }
    }

    .nav-content {
      button {
        @apply text-white text-lg;
        font-family: ND_LOGOS_REGULAR;

        &:focus {
          @apply outline-none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      &:not(.show-nav) {
        .nav-content {
          @apply hidden;
        }
      }

      .nav-content {
        @apply fixed grid grid-flow-row gap-1 bg-white z-40 w-full left-0;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
        top: 5rem;

        button {
          @apply h-20 bg-black;

          &:focus {
            background: $orange;
          }

          &.active {
            background: $orange;
          }
        }
      }

      &.show-nav {
        .burger {
          background: $orange;
        }

        &::before {
          border-bottom-color: $orange;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    figure {
      @apply col-span-2;
    }

    nav {
      @apply col-start-3 col-span-3;

      .nav-content {
        @apply w-full h-full flex items-center justify-evenly;

        button {
          span {
            @apply border-b-4 border-white;
          }

          &.active,
          &:focus {
            color: $orange;

            span {
              border-color: $orange;
            }
          }
        }
      }

      .nav-button {
        @apply text-lg block;
        font-family: ND_LOGOS_REGULAR;

        span {
          @apply border-b-4 border-white;
        }

        &.active,
        &:focus {
          color: $orange;

          span {
            border-color: $orange;
          }
        }
      }

      .burger {
        display: none;
      }
    }
  }
}
