@import "../tailwind.css";
@import "./variables";

@font-face {
  font-family: ND_LOGOS_REGULAR;
  src: url("../fonts/ND_LOGOS_REGULAR.ttf");
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

body {
  background: $gray;
  font-family: Ubuntu;
}

.content {
  @apply p-8;

  > div {
    @apply mb-16;
  }
}

a {
  color: $lighterblue;
}
